.catalog{
  background: #424242 !important;
  &__filtres{
    background: #424242;
    transition: 0.3s transform;
    transform: translate3d(0,-100%,0);
    &.showFilter{
      transform: translate3d(0,0%,0);
    }
  }
  &__sort{
    position: relative;
    cursor: pointer;
    label{
      cursor: pointer;
      color: orange;
    }
    input{
      position: absolute;
      opacity: 0;
      left: 0;
      top: 0;
    }
    input:checked + span{
      color: #ffdb00;
      text-shadow: 0 0 1px orange;
    }
  }
  &__tr{
      td{
        border-bottom: 1px solid #7b7b7b;
        a{
          color: white;
        }
        img{
          max-width: 75px;
          max-height: 75px;
          border-radius: 5px;
        }
      }
    }
  &__list{
    position: relative;
    transition: 0.3s transform;
    transform: translate3d(0,-200px,0);
    &.showFilter{
      transform: translate3d(0,0%,0);
    }
  }
}