@media screen and (max-width: 1260px){
  .catalog{
    &__list{
      transform: translate3d(0,-220px,0);
    }
  }
}
@media screen and (max-width: 960px){
  .catalog{
    &__list{
      transform: translate3d(0,-310px,0);
    }
  }
  .mob-off{
    display: none !important;
  }
  .v-data-table td{
    font-size: 12px !important;
  }
}
@media screen and (max-width: 600px){
  .catalog{
    &__list{
      transform: translate3d(0,-470px,0);
    }
  }
  .v-data-table td{
    font-size: 10px !important;
  }
}