@import "auth";
@import "header";
@import "catalog";
@import "loader";
@import "product";

.dark{
  padding: 15px;
  background: #424242;
  color: white;
}
.theme--dark.v-card{
  box-shadow: none;
}
.v-data-table__wrapper{
  padding-bottom: 5px;
  overflow-x-webkit-overflow-scrolling: auto;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    background: transparent;
    height: 8px;
    position: absolute
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    position: absolute;
    z-index: -2
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(160, 156, 79, 0.3)
  }
}
.pagination{
  button{
    padding: 2px 5px;
    margin: 0 2px;
    border: 1px solid rgba(255,255,255,0.3);
    &[title='previous'],
    &[title='next']{
      display: none;
    }
  }
}